.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

kusb_488b_firmware_data.h
/build/
tools/gpib_probe
.venv/
gpibd/gpibd
tools/gpibctl
/linux-gpib/
tools/__pycache__/
